p{
    background-image: url(12.webp);
    color: white;
    text-align: center;
    background-position: center;
    background-size: cover;
}

h1{
    background-image: url(12.webp);
    color: white;
    text-align: center;
    background-position: center;
    background-size: cover;
}

